<!-- <link rel="stylesheet" href="assets/test.css"> -->
<div class="body">
  <section id="section1" class="section1">
    <h1>This is section1</h1>
    <div></div>
  </section>
  <section id="section2" class="section2">
    <h1>This is section2</h1>
    <div></div>
  </section>
</div>
